body{
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
}
/*
#container canvas {

  cursor: url("/29768.png") 24 24, auto;

}*/

.points-box{
  position: absolute;
  /* left: 50px; */
  left: 30px;
  z-index: 1000;
  bottom: 30px;
  text-align: left;
  font-size: 30px;
  color: #a4a4a4;
  font-family: FMSamantha;
  -webkit-font-smoothing: antialiased;
}

.points{
  font-size: 80px;
  color: #196231;
  line-height: 80px;
  text-align: center;
}

.timer{
  position: absolute;
  /* left: 50px; */
  right: 30px;
  z-index: 1000;
  top: 30px;
  text-align: right;
  font-size: 30px;
  color: #a4a4a4;
  line-height: 50px;
  font-family: FMSamantha;
  -webkit-font-smoothing: antialiased;
}


.attempts, .time{
  font-size: 50px!important;
}

.attempts{
  color: #b21605;
}

.time{
  color: #ff8400;
}

.modal-text {
  font-family: FMSamantha;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.modal-header {
  margin-top: 0;
  font-size: 4em;
  color: #B21605;
}
.modal-header .points {
  font-style: 100px;
}


.modal-button {
  font-family: FMSamantha;
  font-size: 45px;
  border-radius: 10px;
  background: #630000;
  border: 3px solid #dd9a7b;
  color: #ffffff;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  -webkit-font-smoothing: antialiased;
}